<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>abort</string>
		<string>ag1</string>
		<string>ag2</string>
		<string>ag3</string>
		<string>ag4</string>
		<string>ag5</string>
		<string>ag6</string>
		<string>ag7</string>
		<string>ag8</string>
		<string>ag9</string>
		<string>ag10</string>
		<string>airspeed</string>
		<string>alt</string>
		<string>altitude</string>
		<string>angularmomentum</string>
		<string>angularvel</string>
		<string>angularvelocity</string>
		<string>apoapsis</string>
		<string>archive</string>
		<string>argumentofperiapsis</string>
		<string>bays</string>
		<string>body</string>
		<string>brakes</string>
		<string>burnvector</string>
		<string>chutes</string>
		<string>chutessafe</string>
		<string>config</string>
		<string>constant</string>
		<string>controlconnection</string>
		<string>core</string>
		<string>deltav</string>
		<string>deploydrills</string>
		<string>direction</string>
		<string>drills</string>
		<string>eccentricity</string>
		<string>electriccharge</string>
		<string>encounter</string>
		<string>epoch</string>
		<string>eta</string>
		<string>facing</string>
		<string>false</string>
		<string>fuelcells</string>
		<string>gear</string>
		<string>geoposition</string>
		<string>groundspeed</string>
		<string>hasnextpatch</string>
		<string>heading</string>
		<string>homeconnection</string>
		<string>inclination</string>
		<string>intakeair</string>
		<string>intakes</string>
		<string>isru</string>
		<string>kUniverse</string>
		<string>ladders</string>
		<string>lan</string>
		<string>latitude</string>
		<string>legs</string>
		<string>lights</string>
		<string>liquidfuel</string>
		<string>loaddistance</string>
		<string>longitude</string>
		<string>longitudeofascendingnode</string>
		<string>mag</string>
		<string>mapview</string>
		<string>mass</string>
		<string>maxthrust</string>
		<string>meananomalyatepoch</string>
		<string>missiontime</string>
		<string>monopropellant</string>
		<string>name</string>
		<string>navmode</string>
		<string>nextpatch</string>
		<string>nextpatcheta</string>
		<string>normal</string>
		<string>normalized</string>
		<string>north</string>
		<string>obt</string>
		<string>orbit</string>
		<string>oxidizer</string>
		<string>panels</string>
		<string>partsdubbed</string>
		<string>partsnamed</string>
		<string>partstitled</string>
		<string>periapsis</string>
		<string>period</string>
		<string>pi</string>
		<string>position</string>
		<string>prograde</string>
		<string>radialout</string>
		<string>radiators</string>
		<string>rcs</string>
		<string>remove</string>
		<string>retrograde</string>
		<string>sas</string>
		<string>sasmode</string>
		<string>seconds</string>
		<string>semimajoraxis</string>
		<string>semiminoraxis</string>
		<string>sensors</string>
		<string>sessiontime</string>
		<string>ship</string>
		<string>shipname</string>
		<string>solarprimevector</string>
		<string>solidfuel</string>
		<string>sqrmagnitude</string>
		<string>srfprograde</string>
		<string>srfretrograde</string>
		<string>status</string>
		<string>steering</string>
		<string>surface</string>
		<string>surfacespeed</string>
		<string>target</string>
		<string>terminal</string>
		<string>transition</string>
		<string>throttle</string>
		<string>time</string>
		<string>true</string>
		<string>trueanomaly</string>
		<string>up</string>
		<string>vec</string>
		<string>velocity</string>
		<string>version</string>
		<string>verticalspeed</string>
		<string>warp</string>
		<string>warpmode</string>
		<string>wheelsteering</string>
		<string>wheelthrottle</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>red</string>
		<string>green</string>
		<string>blue</string>
		<string>yellow</string>
		<string>cyan</string>
		<string>magenta</string>
		<string>purple</string>
		<string>white</string>
		<string>black</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>kOSS</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMLanguageDisplayName</key>
	<string>kOS Script</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.ks</string>
		</dict>
	</array>
	<key>BBLMKeywordList</key>
	<array>
		<string>abs</string>
		<string>and</string>
		<string>arccos</string>
		<string>arcsin</string>
		<string>arctan</string>
		<string>arctan2</string>
		<string>at</string>
		<string>ceiling</string>
		<string>char</string>
		<string>clearscreen</string>
		<string>cos</string>
		<string>declare</string>
		<string>else</string>
		<string>floor</string>
		<string>for</string>
		<string>function</string>
		<string>hasnode</string>
		<string>hastarget</string>
		<string>hsv</string>
		<string>hsva</string>
		<string>if</string>
		<string>in</string>
		<string>is</string>
		<string>ln</string>
		<string>local</string>
		<string>lock</string>
		<string>log10</string>
		<string>max</string>
		<string>min</string>
		<string>mod</string>
		<string>nextnode</string>
		<string>not</string>
		<string>off</string>
		<string>on</string>
		<string>or</string>
		<string>parameter</string>
		<string>print</string>
		<string>random</string>
		<string>remove</string>
		<string>return</string>
		<string>rgb</string>
		<string>rgba</string>
		<string>round</string>
		<string>run</string>
		<string>set</string>
		<string>sin</string>
		<string>sqrt</string>
		<string>stage</string>
		<string>tan</string>
		<string>to</string>
		<string>unchar</string>
		<string>unlock</string>
		<string>until</string>
		<string>usesas</string>
		<string>wait</string>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Prefix for Functions</key>
		<string>function</string>
		<key>Prefix for Procedures</key>
		<string>local function</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>String Pattern</key>
		<string>(?x:
    (&quot;(\\&quot;|[^&quot;\r]|\\\r)*&quot;) |  (?# Double-quote)
    (&apos;(\\&apos;|[^&apos;\r]|\\\r)*&apos;) |  (?# Single-quote)
)</string>
		<key>Comment Pattern</key>
		<string>(?:\/\/.*$)</string>
		<key>Identifier and Keyword Character Class</key>
		<string>[:alnum:]_-</string>
	</dict>
</dict>
</plist>
